@*
     For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
 *@
@{
}
 @model BookRequestModel
<p><h2>Delete A Book</h2></p>

<form asp-action="UpdateBook" asp-controller="Book" class="slot">
    <div>

        <label asp-for="Id" class="fn"></label><br>
        <input type="text" asp-for="Id" /><br>



    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>
